/*>210px*/
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
.div-product{
    border: 1px solid black;
}
.div-product div{
    width: 210px;
    margin: 0 auto;
}
.div-product p{
    text-align: center;
}
.div-product img:hover, td img:hover{
    cursor: pointer;
}
.cart img{
    width: 25px;
    height: 25px;
}
.right{
    float: right;
}
.eight{
    width: 12.5%;
}
#table_cart{
    width: 100%;
}
#table_cart img{
    width: 50px;
}
#to_euro{
    display: none;
}
#total{
    text-align: center;
}
td{
    border-bottom: 1px solid black;
}
.selected_option{
    border: 1px solid black;
}
@media only screen and (max-width: 300px) {
    .div-product{
        width: 100%;     
    }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .div-product{
        width: 90%;     
        margin: 0 auto;
    }
}
@media only screen and (min-width: 500px) and (max-width: 700px) {
    .div-product{
        width: 80%;     
        margin: 0 auto;
    }
}
@media only screen and (min-width: 700px) and (max-width: 900px) {
    .div-product{
        width: 49%;
        float: left;     
    }
}
@media only screen and (min-width: 900px) and (max-width: 1100px) {
    .div-product{
        width: 33%;
        float: left;     
    }
}
@media only screen and (min-width: 1100px) {
    #content{
        width: 80%;
        margin: 0 auto;
    }
    .div-product{
        width: 33%;
        float: left;     
    }
}